NEWS_API_KEY=votre_cle_api_newsapi_ici
NEWS_API_BASE_URL=https://newsapi.org/v2

# Firebase (nécessaire pour la version web)
# Récupérez ces valeurs depuis la console Firebase (Project settings -> Your apps)
FIREBASE_API_KEY=VOTRE_FIREBASE_API_KEY
FIREBASE_APP_ID=VOTRE_FIREBASE_APP_ID
FIREBASE_MESSAGING_SENDER_ID=VOTRE_FIREBASE_MESSAGING_SENDER_ID
FIREBASE_PROJECT_ID=VOTRE_FIREBASE_PROJECT_ID
# optionnels
FIREBASE_AUTH_DOMAIN=VOTRE_FIREBASE_AUTH_DOMAIN
FIREBASE_STORAGE_BUCKET=VOTRE_FIREBASE_STORAGE_BUCKET
FIREBASE_MEASUREMENT_ID=VOTRE_FIREBASE_MEASUREMENT_ID